# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

MultipleRobotsScenario/Examples/Monocular/mono_Bebop
MultipleRobotsScenario/Examples/Monocular/mono_eth
MultipleRobotsScenario/Examples/Monocular/mono_kitti
MultipleRobotsScenario/Examples/Monocular/mono_kitti_dif-Seq
MultipleRobotsScenario/Examples/Monocular/mono_NewCollege
MultipleRobotsScenario/Examples/Monocular/mono_tum

MultipleRobotsScenario/lib/

MultipleRobotsScenario/output/*

MultipleRobotsScenario/Thirdparty/DBoW2/build/
MultipleRobotsScenario/Thirdparty/g2o/build/

MultipleRobotsScenario/Thirdparty/v4l2loopback/.*
MultipleRobotsScenario/Thirdparty/v4l2loopback/v4l2loopback.ko
MultipleRobotsScenario/Thirdparty/v4l2loopback/v4l2loopback.mod
MultipleRobotsScenario/Thirdparty/v4l2loopback/v4l2loopback.mod.*
MultipleRobotsScenario/Thirdparty/v4l2loopback/v4l2loopback.o
MultipleRobotsScenario/Thirdparty/v4l2loopback/Module.symvers
MultipleRobotsScenario/Thirdparty/v4l2loopback/modules.order

MultipleRobotsScenario/Vocabulary/ORBvoc.txt

SingleRobotScenario/Examples/Monocular/ConvertGTtoQuaternion
SingleRobotScenario/Examples/Monocular/mono_AGZ
SingleRobotScenario/Examples/Monocular/mono_Bebop
SingleRobotScenario/Examples/Monocular/mono_eth
SingleRobotScenario/Examples/Monocular/mono_kitti
SingleRobotScenario/Examples/Monocular/mono_NewCollege
SingleRobotScenario/Examples/Monocular/mono_tum

SingleRobotScenario/lib/

SingleRobotScenario/Thirdparty/DBoW2/build/
SingleRobotScenario/Thirdparty/g2o/build/

SingleRobotScenario/Thirdparty/v4l2loopback/.*
SingleRobotScenario/Thirdparty/v4l2loopback/v4l2loopback.ko
SingleRobotScenario/Thirdparty/v4l2loopback/v4l2loopback.mod
SingleRobotScenario/Thirdparty/v4l2loopback/v4l2loopback.mod.*
SingleRobotScenario/Thirdparty/v4l2loopback/v4l2loopback.o
SingleRobotScenario/Thirdparty/v4l2loopback/Module.symvers
SingleRobotScenario/Thirdparty/v4l2loopback/modules.order

SingleRobotScenario/Vocabulary/ORBvoc.txt